<!DOCTYPE html>
<html>
  <head>
    <title>Temp</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= stylesheet_link_tag     params[:controller], media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
      <div id="main-wrapper" class="our-agents-content">
        <!-- HEADER -->
        <header id="header">
          <%= render 'shared/nav'%>
        </header>
    <%= yield %>
    <%= render 'shared/footer'%>
    </div>
    <%= yield 'javascript_content' %>
  </body>
</html>
